@font-face {
    font-family: 'ProximaNovaRegular';
    src: url('ProximaNova-Regular.eot');
    src: url('ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
    url('ProximaNova-Regular.woff') format('woff'),
    url('ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: auto;
    }

@font-face {
    font-family: 'ProximaNovaSemibold';
    src: url('ProximaNova-Semibold.eot');
    src: url('ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
    url('ProximaNova-Semibold.woff') format('woff'),
    url('ProximaNova-Semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: auto;
    }

@font-face {
    font-family: 'ProximaNovaItalic';
    src: url('ProximaNova-RegularIt.eot');
    src: url('ProximaNova-RegularIt.eot?#iefix') format('embedded-opentype'),
    url('ProximaNova-RegularIt.woff') format('woff'),
    url('ProximaNova-RegularIt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: auto;
    }

@mixin reg {
    font-family: 'ProximaNovaRegular';
    font-weight: 300;
}

@mixin bold {
    font-family: 'ProximaNovaSemibold';
    font-weight: 700;
}

@mixin ital {
    font-family: 'ProximaNovaItalic';
    font-weight: 300;
}