@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('../fonts/ProximaNovaCyrl/');
    src: url('../fonts/ProximaNovaCyrl/?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNovaCyrl/ProximaNova-Regular.woff') format('woff'),
    url('../fonts/ProximaNovaCyrl/ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: auto;
    }
@font-face {
    font-family: 'ProximaNova-Semibold';
    src: url('../fonts/ProximaNovaCyrl/');
    src: url('../fonts/ProximaNovaCyrl/?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNovaCyrl/ProximaNova-Semibold.woff') format('woff'),
    url('../fonts/ProximaNovaCyrl/ProximaNova-Semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: auto;
    }
@font-face {
    font-family: 'ProximaNova-Italic';
    src: url('../fonts/ProximaNovaCyrl/');
    src: url('../fonts/ProximaNovaCyrl/?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNovaCyrl/ProximaNova-RegularIt.woff') format('woff'),
    url('../fonts/ProximaNovaCyrl/ProximaNova-RegularIt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: auto;
    }

@mixin reg {
    font-family: 'ProximaNova-Regular', sans-serif;
    font-weight: 400;
}

@mixin bold {
    font-family: 'ProximaNova-Semibold', sans-serif;
    font-weight: 700;
}

@mixin ital {
    font-family: 'ProximaNova-Italic', sans-serif;
    font-weight: 400;
}