*
    box-sizing: border-box
body
    +reg
img
    max-width: 100%
.container
    width: 1170px
    margin: auto
.pseudo-title
    width: 244px
    height: 58px
    font-size: 28px
    background-color: $corpo-yel
    font-weight: 400
.slick
    display: flex
    justify-content: center
    &-dots
        padding: 0
        list-style: none
        display: flex
        width: 112px
        justify-content: space-between
        align-items: center
        & button
            color: #ffffff
            background-color: #ffffff
            // border: none
            cursor: pointer
            &:hover
                color: $corpo-yel
                background-color: $corpo-yel
                transition: all 0.3s ease
a, input, button
    outline: none
