// переменные с цветами
$sec-bg-cl: #f1f1f1;
$corpo-yel: #ffc800;
$corpo-bl: #010101;
// переменные со шрифтами
$ttl-sz: (
    font-size: 35px,
    line-height: 55px 
);
$sbttl-sz: (
    font-size: 20px,
    line-height: 26px
);
$txt-sz: (
    font-size: 18px, 
    line-height: 28px
);