// переменные с цветами
$sec-bg-cl: #f1f1f1;
$corpo-yel: #ffc800;
$corpo-bl: #010101;
$hero-wh: #fffffe;
$serv-wh: #fdfcfc;
$pres-txt: #020202;
// переменные со шрифтами
@mixin ttl-sz {
    font-size: 35px;
    line-height: 55px;
}
@mixin sbttl-sz {
    font-size: 20px;
    line-height: 26px;
}
@mixin txt-sz {
    font-size: 18px;
    line-height: 28px;
}