.footer
    background-color: $corpo-bl
    position: relative
    &-form
        width: 397px
        height: 385px
        background-color: white
        box-shadow: 0 0 10px 2px
        display: flex
        flex-direction: column
        align-items: center
        position: absolute
        top: 18%
        left: 7%
        #name-error
            position: absolute
            color: $corpo-yel
            top: 150px
        #phone-error
            position: absolute
            color: $corpo-yel
            top: 215px
        &__title
            +bold
            +sbttl-sz
            padding-top: 45px
            &-yellow
                color: $corpo-yel
        &__name
            +txt-sz
            position: absolute
            top: 109px
            width: 100%
            max-width: 305px
            border: none
            font-style: italic
            border-bottom: 1px solid black
        &__phone
            +txt-sz
            position: absolute
            top: 173px
            width: 100%
            max-width: 305px
            border: none
            font-style: italic
            border-bottom: 1px solid black
        &__button
            +sbttl-sz
            position: absolute
            width: 304px
            height: 58px
            bottom: 58px
    &-block
        height: 134px
        display: flex
        justify-content: space-between
        align-items: center
    &-logos
        padding-left: 27px
        &__social
            width: 26px
            height: 26px
            margin-right: 10px
    &-location
        display: flex
        &__marker
            width: 15px
            height: 21px
            margin-right: 8px
        &__address
            +sbttl-sz
            color: white
            font-style: normal
    &-connection
        +txt-sz
        display: flex
        align-items: center
        &__image
            padding-right: 10px
        &__mail
            color: white
            text-decoration: none
        &__line
            width: 2px
            height: 12px
            display: inline-block
            background-color: white
            opacity: 0.33
            margin: 0 25px 0 24px
        &__number
            color: white