.hero
    position: relative
    margin-bottom: 133px
    &-block
        position: absolute
        z-index: 1
    &__title
        max-width: 1158px
        font-size: 35px
        color: $corpo-yel
    &__subtitle
        max-width: 655px
        font-size: 35px
        color: $hero-wh
    &__text
        max-width: 1106px 
        font-size: 20px
        line-height: 28px
        color: $hero-wh
        opacity: 0.42
.slider     
    &__image
        width: 100%
        height: 87vh
        object-fit: cover
        object-position: center top