.hero
	height: 87vh
	position: relative
	margin-bottom: 133px
	&-block
		height: 87vh
		position: absolute
		z-index: 1
		&__title
			max-width: 1158px
			font-size: 35px
			color: $corpo-yel
		&__subtitle
			max-width: 655px
			font-size: 35px
			color: white
		&__text
			max-width: 1106px 
			font-size: 20px
			line-height: 28px
			color: white
			opacity: 0.42
	&-slider
		position: absolute
		height: 1px
		z-index: -3
		&__image
			width: 100%
			height: 87vh
			object-fit: cover
        	object-position: center top