.navbar
    height: 82px
    &-block
        display: flex
        justify-content: space-between
        align-items: center
    &-info
        display: flex
    &__phone
        color: $corpo-bl
        text-decoration: none
        &-image
            padding-right: 6px
        &-bold
            +bold
    &-contacts
        display: flex
        background-color: $sec-bg-cl
        justify-content: space-around
        align-items: center
    &__button
        width: 138px
        height: 30px
        font-size: 14px
        background-color: $corpo-yel
        border: none
        cursor: pointer