.news
    text-align: center
    padding-top: 87px
    padding-bottom: 72px
    &-block
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        text-align: left
        padding-bottom: 70px
    &-card
        width: 377px
        &__image
            width: 100%
            height: 279px
            object-fit: cover
    &-info
        width: 329px
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        &__title
            +bold
            font-size: 20px
            color: $corpo-bl
            margin-top: 22px
            margin-bottom: 14px
        &__date
            margin-top: 22px
            display: flex
            align-items: center
        &__article
            +txt-sz
    &-button
        width: 300px
        height: 58px
        +sbttl-sz
        margin-right: auto
        margin-left: auto