.services
    display: flex
    justify-content: space-between
    text-align: center
.card
    width: 377px
    height: 236px
    &__subtitle
        // color: $serv-wh
        +sbttl-sz
    &__button
        padding: 0
        margin: 0
        width: 138px
        height: 33px
        background-color: $corpo-yel
        font-size: 15px
        font-weight: 400
        border: none
        cursor: pointer
    &s
        display: flex
        justify-content: space-between
        flex-wrap: wrap