.services
    background-color: $sec-bg-cl
    position: relative
    display: flex
    justify-content: space-between
    text-align: center
    padding-top: 104px
    padding-bottom: 117px
.card
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: center
    width: 377px
    height: 236px
    margin-bottom: 21px
    cursor: pointer
    position: relative
    &-bg
        position: absolute
        left: 0
        top: 0
        width: 100%
        height: 100% 
        &__image
            width: 100%
            height: 100%
            object-fit: cover
    &__subtitle
        +sbttl-sz
        max-width: 295px
        display: block
        position: absolute
        top: 16%
        color: white
    &__description
        +sbttl-sz
        max-width: 295px
        position: absolute
        top: 16%
        color: $corpo-bl
        display: none
    &__button
        margin: 0
        padding: 7px
        position: absolute
        bottom: 29%
        width: 138px
        height: 33px
        font-size: 15px
    &__label
        margin: 0
        padding: 7px
        bottom: 29%
        width: 138px
        height: 33px
        font-size: 15px
        position: absolute
        color: $corpo-bl
        display: none
        background-color: $corpo-bl
        color: #fdfcfc
    &s
        display: flex
        justify-content: space-between
        flex-wrap: wrap
@media (min-width: 992px)
    .card:hover
        .card__subtitle
            display: none
        .card__description
            display: block
        .card__button
            display: none
        .card__label
            display: block
@media (max-width: 1200px)
    .card
        width: 370px
        height: 210px
        margin-bottom: 20px