.portfolio
    background: $secondary url('../img/portfolio/portfolio_pattern.jpg') repeat-y center left
    background-size: 50%
    &__title
        max-width: 800px
        margin: auto
        margin-top: 40px
        margin-bottom: 80px
        line-height: 45px
        font-size: 30px
    &__arrows
        max-width: 120px
        margin: 60px auto
        display: flex
        justify-content: space-between
.slider
    &__image
        margin: auto
        padding: 15px
@media (max-width: 1200px)
    .portfolio
        &__title
            font-size: 26px
@media (max-width: 768px)
    .portfolio
        &__title
            margin-top: 30px
            margin-bottom: 65px
            font-size: 22px
        &__arrows
            margin-top: 50px
            margin-bottom: 30px
@media (max-width: 567px)
    .portfolio
        &__title
            margin-top: 20px
            font-size: 18px
            margin-bottom: 55px
        &__arrows
            margin-top: 30px
            margin-bottom: 40px
@media (max-width: 320px)
    .portfolio
        &__title
            margin-top: -15px
            font-size: 18px
            line-height: 1.2
            margin-bottom: 27px
        &__arrows
            margin-top: 32px
            margin-bottom: 10px